[
  {'instagram_listener', [{client_id, <<"id">>},
                          {client_secret, <<"secret">>},
                          {verify_token, <<"token">>},
                          {callback_url, <<"http://127.0.0.1/yourcallback">>}]},
  {lager, [{log_root, "/tmp/instagram_listener"},
           {handlers, [{lager_console_backend, info},
                       {lager_file_backend, [{file, "error.log"}, {level, error}, {size, 10485760}, {date, "$D0"}, {count, 5}]},
                       {lager_file_backend, [{file, "console.log"}, {level, info}, {size, 10485760}, {date, "$D0"}, {count, 5}]}]}]}
].
