[
  {'instagram_listener', [{client_id, <<"id">>},
                          {client_secret, <<"secret">>},
                          {verify_token, <<"token">>},
                          {callback_url, <<"http://127.0.0.1:8080/instagram">>}]},
  {kernel, [{error_logger, {file, "/tmp/file.log"}}]}
].
